<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.best.memorize4me" >

    <application
        android:name=".MemorizeForMeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CategoryList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewCategory"
            android:label="@string/title_activity_new_category"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.best.memorize4me.CategoryList" />

        </activity>
        <activity
            android:name=".Create_new_item"
            android:label="@string/title_activity_create_new_item"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.best.memorize4me.ItemList" />
        </activity>
        <activity
            android:name=".SearchItemPreviewActivity"
            android:label="@string/title_search_item_preview_activity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.best.memorize4me.ItemList" />
        </activity>
        <activity
            android:name=".ItemList"
            android:label="@string/title_activity_item_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.best.memorize4me.CategoryList" />
        </activity>
    </application>

</manifest>
